.message {
    display: flex;
    align-items: flex-end;
}

.avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.content {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: aquamarine;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, aquamarine 0);
}

.text {
    min-height: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.time{
    display: flex;
    justify-content: flex-end;
    color: blue;
}

