.someClass {

}

.error {
    border: 1px solid red;
}

.errorName {
    color: red;
}
.button:active{
    color: black;
    background: aquamarine;
}
.button:disabled {
    color: grey;
    background: #ffffff;
}